# Course info folder
info/

# Project things
build-Project*-Desktop_Qt_5_7_0_clang_64bit-Debug
build-Project*-Desktop_Qt_5_7_0_GCC_64bit-Debug
Project*/Project*.pro.*

# Stupid files
*.o
*.exe

# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*

# tex stuff
*.log
*.aux
*.toc
*.out
*.gz

# Tutorial folder
tut/*
!tut/*.cpp
