# Course info folder
info/

# Project things
build*
*.pro.user

# Stupid files
*.o
*.exe

# temporary files:
*.pyc
*.bak
*.swp
*~
.*~
*.old
tmp*
temp*
.#*
\#*

# tex stuff
*.log
*.aux
*.toc
*.out
*.gz

# Tutorial folder
tut/*
!tut/*.cpp
